// Mixin
// flex Mixin
@mixin FlexDAJ($flex: $d-flex, $dir: $di-ro , $alig: $al-st, $just: $ju-st){
    display: $flex;
    flex-direction: $dir;
    align-items: $alig;
    justify-content: $just;
    flex-wrap: wrap;
}
// flex Mixin


// Suppport & Comment Box Css
@mixin SupportBox($height: 461px){
    height: $height;
    margin: 0 auto;
    overflow: hidden;
    background: $white;
    position: relative;
    border: $Border;
    box-shadow: 30px 30px 127px 0px #ccccccad;
    @include breakpoint(1600px){
        height: 353px;
    }
    @include breakpoint(1440px){
        height: 340px;
    }
    @include breakpoint(1366px){
        height: 260px;
    }
    @include breakpoint(1280px){
        height: 275px;
    }
}
// Suppport & Comment Box Css


// Border Animation
@mixin BorderAnimation($gradClr: $PrimaryClr, $gradClr1: $SecondaryClr){
    .bg-grad {
        &:after {
            content: '';
            position: absolute;
            background: rgb(70,26,85);
            background: radial-gradient(circle, rgba(70,26,85,1) 0%, rgba(198,156,82,1) 100%);
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
            z-index:999;
        }
        &:before {
            content: '';
            position: absolute;
            background: rgb(70,26,85);
            background: radial-gradient(circle, rgba(70,26,85,1) 0%, rgba(198,156,82,1) 100%);
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            z-index:999;
        }
    }
}
// Border Animation


//Translate Position

@mixin center($position) {
    position: absolute;
    
    @if $position == 'vertical' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

//   @include center(both);

//Translate Position



// Not Use Yet 

/* Sass code */
@for $i from 1 through 8 {
    $width: percentage(1 / $i);
    .colu-#{$i} {
        width: $width;
    }

    // How Formula WOrk
    // 1/1 = 100% 
    // 1/2 = 50%
    // 1/3 = 33.33%
    // 1/4 = 25%
    // How Formula WOrk

 
}
 
/* output */
// .colu-1 {width: 100%;}
// .colu-2 {width: 50%;}
// .colu-3 {width: 33.333%;}
// .colu-4 {width: 25%;}
// .colu-5 {width: 20%;}
// .colu-6 {width: 16.666%;}
// .colu-7 {width: 14.285%;}
// .colu-8 {width: 12.5%;}



// Font Size Calculation
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

.ars{
    @include font-size(14px);
}
// Font Size Calculation






// Banner Mixin
@mixin bg-props($bgsize:cover , $bgrepeat:no-repeat , $bgpos:center) {
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    background-position: $bgpos;
}
//  Banner Mixin
// Banner Loop For Multiple Pages
@for $i from 18 through 22 {
    .banner-#{$i} {
        background-image: url(../img/bg/banner-#{$i}.jpg);
    }
}
// Banner Loop For Multiple Pages