﻿@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.top-bg {
    background-image: url(../images/top-shade.png);
    background-position: top center;
    background-repeat: repeat-x;
}

button.logo_btn {
    border: 0;
    background: transparent;
}

    button.logo_btn:focus {
        outline: 0;
    }

.openingtxt {
    color: #5D2568;
    padding: 5px 30px
}

    .openingtxt a {
        color: #5D2568;
    }

.runnertxt {
    font-size: 18px;
    color: #5D2568;
    font-weight: 300;
}

    .runnertxt a {
        color: #5D2568;
        transition: transform 0.5s linear;
    }

        .runnertxt a:hover {
            text-decoration: none;
            transform: translateY(10px);
        }

    .runnertxt span {
        font-weight: 700;
        font-style: normal;
        background-repeat: no-repeat;
        background-position: right 0px;
        padding-right: 16px;
    }
    /*.runnertxt span::after {content:'1'; color:transparent; background-image: url(../images/playicon.svg); background-repeat: no-repeat; background-position: right; padding-left: 10px;}*/

    /*.runnertxt span.lastbtn::after {content:'1'; color:transparent; background-image: url(../images/playicon.svg); background-repeat: no-repeat; background-position: right; padding-left: 14px;position: absolute; left: 267px;  top: 206px;}
*/
    .runnertxt button {
        background: transparent;
        border: 0;
        background-image: url(../images/play-icn2.svg);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 24px;
        margin-left: 34px;
        background-size: 24px;
    }

        .runnertxt button:focus {
            border: 0;
            outline: 0;
        }

button.last-btn {
    background-position: 130px 52px;
}

.gift-icn {
    width: 20px;
}

button.gallery-btn {
    padding: 10px;
    background-repeat: no-repeat;
    background: transparent;
    border: 0
}

    button.gallery-btn:focus {
        outline: 0
    }


h4.ord-heading {
    color: #5d2568;
    font-size: 1.5rem;
}

a#gift {
    color: #5d2568;
}

    a#gift:hover {
        text-decoration: none;
    }

a.navbtns {
    padding: 8px 16px 8px 16px;
    background: #5D2568;
    color: #fff;
    border-radius: 4px 4px 0 0;
    width: 120px;
    display: inline-table;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.navidle {
    background: #FDF1FF !important;
    color: #5D2568 !important;
}

a.navbtns:hover {
    transform: translateY(-5px);
    border-radius: 4px;
}


.currency-field {
    padding: 8px 5px;
    width: 48.5% !important;
    background: #f5f5f5;
    color: #5D2568;
    font-weight: normal;
    border-radius: 4px;
    margin-right: 0px;
    margin-bottom: 8px;
}

/*.bottom-bg {background-image:url(../images/bottom-shade.png); background-repeat: repeat-x; padding:15px 0 0 0;position: fixed; bottom: 0;   width: 100%;  background-position: 0 -13px;  padding-top: 50px; }*/
.bottom-bg {
    background-image: url(../images/bottom-shade.png);
    background-position: top center;
    background-repeat: repeat-x;
    padding-top: 60px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.space-x {
    padding-top: 30px !important;
}

.space-x1 {
    padding-top: 50px;
}

.donors-cat-btns {
    overflow: hidden;
}

    .donors-cat-btns h3 {
        line-height: normal;
        margin: 0;
        padding-bottom: 20px;
        color: #4b1f58;
    }

.jus-set-item {
    display: flex;
    justify-content: center;
}

.set-submit {
    width: 100% !important;
    height: 50px ​ !importan;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.page-heading {
    color: #5D2568;
    font-size: 2rem;
}

h3.page-heading {
    color: #5D2568;
    font-size: 2rem;
    padding-bottom: 0px !important;
}

button.btn-selection {
    width: 170px;
    background-color: #F5F5F5;
    border: 0;
    color: #5D2568;
    border-radius: 4px 0px 0 4px;
}

button.btn-selection1 {
    width: 170px;
    background-color: #F5F5F5;
    border: 0;
    color: #5D2568;
    border-radius: 0px 4px 4px 0;
}


.select-freq input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    display: none;
}

    .select-freq input[type="radio"]:checked + label {
        background: #5D2568;
        color: #fff
    }

.freq_yearly, .freq_monthly {
    padding: 6px 5px;
    width: 108px;
    background: #f5f5f5;
    color: #5D2568;
    font-weight: normal;
    height: 40px;
    line-height: 30px;
}

.freq_monthly {
    border-radius: 4px 0px 0 4px;
}

.freq_yearly {
    border-radius: 0px 0px 0px 0px;
}

.freq_onetime {
    border-radius: 0px 4px 4px 0;
}

h4.cmnts-heading {
    position: relative;
    font-weight: 600;
    color: #5d2568;
    padding: 20px 0 10px 0;
}

    h4.cmnts-heading::after {
        content: '';
        background: rgb(237 189 93);
        height: 4px;
        width: 12%;
        position: absolute;
        bottom: -7px;
        left: 173px;
        top: 40px;
    }

    h4.cmnts-heading span {
        font-weight: 400;
        font-size: 14px;
    }



.custom-ff input {
    background: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%);
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
}

    .custom-ff input:focus {
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 2%), 0 0 8px rgb(93 37 104);
        border-color: #f5f5f5;
        background: #fff;
    }

.custom-heads {
    color: #5D2568;
}

    .custom-heads h4 {
        font-size: 1.6rem
    }

.custom-ff select:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 2%), 0 0 8px rgb(93 37 104) !important;
    border-color: #f5f5f5;
    background: #fff;
}

.custom-heads {
    color: #5D2568;
}

    .custom-heads h4 {
        font-size: 1.6rem
    }

.other-txtbox {
    margin-top: 20px !important;
}

.custom-ff select {
    background-color: #f5f5f5;
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 !important;
    margin-top: 6px;
}

.select-amnt input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    display: none;
}

    .select-amnt input[type="radio"]:checked + label {
        background: #5D2568;
        color: #fff
    }

.amnt-field {
    padding: 8px 5px;
    width: 135px;
    background: #f5f5f5;
    color: #5D2568;
    font-weight: normal;
    border-radius: 4px;
    margin-right: 0px;
    margin-bottom: 8px;
}

    .amnt-field:nth-of-type(2) {
        margin-right: 0px;
    }

    .amnt-field:nth-of-type(4) {
        margin-right: 0px;
    }
/*.pkr-span::after{content:'PKR';}*/
.pkr-span {
    background-image: url(../images/PKR.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 32px !important;
}



#inputOtherAmount[data-currency=gbp] {
    background-image: url(../images/GBP.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 32px !important;
}

#inputOtherAmount[data-currency=euro] {
    background-image: url(../images/Euro.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 32px !important;
}

#inputOtherAmount[data-currency=usd] {
    background-image: url(../images/USD.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 32px !important;
}

.form-control::placeholder {
    color: #707070;
    font-size: 1.2rem;
}

.form-control label, .form-check label {
    font-weight: normal;
    color: #5D2568
}



.select-recg input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    display: none;
}

    .select-recg input[type="radio"]:checked + label {
        background: #f5f5f5;
        color: #5d2568;
        background-image: url(../images/checked.svg);
        background-repeat: no-repeat;
        background-position: 10px;
    }

.recg-field {
    padding: 8px 5px;
    width: 49.2%;
    background: #f5f5f5;
    color: #5D2568;
    font-weight: normal;
    border-radius: 4px;
    margin-right: 0px;
    margin-bottom: 8px;
    padding-left: 32px;
    background-image: url(../Images/bg-uncheck-circled.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    text-align: left;
}

.name-fullwidth {
    width: 100% !important;
}



.chkbox-container {
    display: block;
    position: relative;
    padding-left: 17px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .chkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: -7px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: solid 1px #D4B9D9;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.chkbox-container:hover input ~ .checkmark {
    background-color: #f5f5f5;
    border: solid 1px #D4B9D9;
    border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
.chkbox-container input:checked ~ .checkmark {
    background-color: #5D2568;
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
}

/* Create the checkmark/indicator (hidden when not checked) */
.chkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.purple-pararapgh {
    color: #5D2568
}

    .purple-pararapgh:hover {
        color: #5D2568
    }

.custom-tb {
    width: 50%;
    float: left;
    margin-bottom: -3px;
}

    .custom-tb:nth-child(3) {
        padding-left: 0px;
    }

    .custom-tb:nth-child(2) {
        padding-right: 10px;
    }

    .custom-tb:nth-child(4) {
        padding-right: 10px;
        margin-top: 10px;
    }

    .custom-tb:nth-child(5) {
        padding-left: 0px;
        margin-top: 10px;
    }

.org-field {
    margin-top: -1%;
}

.custom-tb-lg {
    float: left;
    margin-top: 0px;
    width: 100%;
}

span.sub-label {
    font-size: 1.1rem;
    color: #a3a3a3;
    text-align: left;
    display: block;
    padding: 5px 0;
}


.text-danger {
    font-size: 10px;
    padding-bottom: 18px;
    float: left;
    width: 100%;
}

.cheque-details, .bank-details {
    width: 100%;
    padding: 0px;
    color: #5d2568;
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.bank-details {
    margin-top: 30px;
}

    .cheque-details h4, .bank-details h4 {
        color: #5d2568;
        font-weight: normal;
        font-size: 1.4rem;
        border-top: solid 1px;
        padding-top: 15px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
    }

.cheque-details h5 {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    width: 140px;
}

.bank-details h5 {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    width: 115px !important;
}

.hufus-logo {
    width: 40px;
    margin-bottom: 15px;
}

.custom-btn {
    background-color: #5D2568;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border: 0;
    box-shadow: 0 7px 18px rgb(93 37 104 / 28%);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 38px;
}

    .custom-btn:hover {
        box-shadow: 0 7px 18px rgb(93 37 104 / 82%);
        background-color: #5D2568;
    }

    .custom-btn:active {
        background-color: #5D2568 !important;
        color: #fff !important;
    }

    .custom-btn:focus {
        background-color: #5D2568 !important;
        color: #E4D0AD !important;
    }

.zakat-txt p {
    color: #707070;
    line-height: 15px;
    font-size: 10px;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.help-text a {
    color: #5D2568;
}

.help-text {
}

    .help-text p {
        margin-top: 10px;
        letter-spacing: 1px;
        color: #5D2568;
        font-weight: bold;
        font-size: 11px;
        line-height: normal;
        margin-bottom: 10px;
    }

.social1_share a {
    padding-right: 10px;
}

.thanks-message {
    color: #5D2568
}

    .thanks-message h3 {
        font-size: 22px;
    }

    .thanks-message h4 {
        font-size: 15px
    }

/*
.thanks-message-btn {
    width: 75% !important;
}
*/

input.cmnt-btn {
    background-color: #fff;
    border: solid 1px #5d2568;
    color: #5d2568;
    width: 100px !important;
    font-size: 14px;
    padding: 5px !important;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.social1_share {
    text-align: center;
}

span.chrcter-limit {
    text-align: right;
    display: block;
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 18px;
    color: #5d2568;
}


input.form-control.txtComment {
    min-height: 50px;
    left: 0px;
    top: 0px;
}

.social1_share {
    display: block !important;
    margin-bottom: 35px;
}

    .social1_share h3 {
        font-size: 18px;
    }

    .social1_share h4 {
        font-size: 15px
    }

.head_banner {
    padding: 0px;
    text-align: center;
    margin-top: 2%;
}

    .head_banner img {
        width: 100%;
    }

.copyright-a {
    font-size: 11px;
    color: #5D2568;
    padding-top: 10px;
}

    .copyright-a a {
        color: #5D2568;
        text-decoration: none;
    }

.head_banner_ayat {
    padding: 0px;
}

    .head_banner_ayat p {
        color: #5D2568;
        font-size: 12px;
        margin-top: 10px;
        text-align: center
    }

    .head_banner_ayat img {
        width: 325px;
    }

    .head_banner_ayat hr {
        width: 50%;
        border-color: #5d2568 !important;
    }

.wall-container h2 {
    color: #5d2568;
    font-size: 2rem;
    font-weight: bold;
}

.wall-container {
    color: #5d2568
}

span.newitem {
    color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #CFB381;
    padding: 2px 8px;
    font-size: 1rem;
    box-shadow: -5px 2px 8px #ccc;
}

.modal.in .modal-dialog {
    transform: translate(0, 66%);
}

button.close {
    top: -2px;
    position: absolute;
    right: 6px;
    color: #fff !important;
    opacity: 1;
    font-size: 26px;
    font-weight: 100;
    background: #5c2172;
    padding: 5px;
    border-radius: 4px;
    z-index: 2
}

.modal-body {
    padding: 0 !important
}

.modal-content {
    background-color: transparent;
}

.campaign-card button {
    border: 0;
    width: 100%;
    padding: 0;
    background: transparent;
}

.owl-dots {
    display: none !important;
}

.owl-theme .owl-nav {
    margin-top: -10px !important;
}

    .owl-theme .owl-nav [class*=owl-] {
        color: #461a55 !important;
        font-size: 16px !important;
        margin: 0 !important;
        padding: 7px 12px !important;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        background: transparent !important;
    }

.cat-btn {
    border-radius: 4px;
    box-shadow: 0 0 18px rgb(167 167 167 / 20%);
    border-bottom: 5px solid;
    padding: 15px 20px;
    display: block;
    margin-bottom: 5%;
    font-size: 1.8rem;
    font-weight: bold;
    ;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

    .cat-btn:hover {
        box-shadow: 2px 4px 18px #ccc;
        color: #5D2568;
    }

    .cat-btn i {
        font-weight: 300;
    }

.cat_gold {
    color: #E9BD2A;
    border-color: #E9BD2A;
}

.cat_silver {
    color: #A6A1A1;
    border-color: #A6A1A1;
}

.cat_bronze {
    color: #DF7832;
    border-color: #DF7832;
}

.cat_fellow {
    color: #CFB381;
    border-color: #CFB381;
}

.txt-gold {
    color: #E9BD2A
}

.txt-silver {
    color: #A6A1A1
}

.txt-bronze {
    color: #DF7832;
}

.txt-fellows {
    color: #5D2568;
}

.back-btn {
    padding: 0 15px;
    z-index: 2;
}

    .back-btn a {
        color: #5D2568;
    }

.back-btn2 {
    padding: 0 0px;
    z-index: 2;
    position: absolute;
    float: left;
    margin-top: 0%;
}

    .back-btn2 a {
        color: #5D2568 !important;
        font-size: 1.2rem;
    }

.list-head h2 {
    line-height: normal;
    font-weight: bold;
}

.list-head {
    margin: 0;
    margin-top: -43px;
    margin-bottom: 20px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search input {
    background: #fff;
    box-shadow: 0 0 22px #ccc;
    height: 44px;
}

.list-design.cat-visionary {
    border-color: #E9BD2A
}

.cat-Benefactor {
    border-color: #A6A1A1
}

.cat-Friend {
    border-color: #CFB381
}

.list-design.cat-supporter {
    border-color: #DF7832
}

.list-design.cat-benefactor {
    border-color: #A6A1A1;
}

.list-design.cat-friend {
    border-color: #CFB381;
}

.list-design {
    box-shadow: 0 0 12px #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 5%;
    float: left;
    width: 96%;
    border-left: solid 6px;
}

    .list-design label {
        color: #5D2568;
        font-weight: bold;
        font-size: 16px;
        display: block;
        text-transform: capitalize;
    }

label.list-org {
    font-weight: normal;
    font-size: 13px;
}

.div-type label.list-type {
    font-weight: normal;
    padding: 8px;
    font-size: 12px;
    padding-top: 15px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #5D2568;
    top: 101px;
    right: 12px;
}

.has-search .form-control-feedback2 {
    top: 46px;
}



img.wiredimg {
    margin-bottom: 0px;
}



.container.body-content {
    padding: 0;
}

.zakat-txt {
    margin-bottom: 100px;
}

a#mohsineen:hover {
    text-decoration: none;
}

p.cat_desc {
    text-align: center;
    color: #461a55;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

div#mohsineenFellowsContent .bottom-bg {
    bottom: -20px;
}

div#mohsineenSupportsContent .bottom-bg {
    bottom: -20px;
}

div#mohsineenBenefactorsContent .bottom-bg {
    bottom: 0px;
}
/*-------------------carousel------------------------*/

.carousel-control {
    margin-top: 26%
}


/*-------------------carousel ends------------------------*/

.modal {
    background: rgb(0 0 0 / 64%);
}

.error-msg {
    margin-top: 50px;
}

.form-group input {
    height: 36px;
}

.faqs-box {
    background: #fff;
    border-radius: 6px;
    display: block;
    padding: 40px 15px;
    text-align: left;
    color: #461a55;
    margin-top: 30%;
}

    .faqs-box li {
        margin-bottom: 3.1%;
        list-style: none;
        font-size: 12px;
    }

button.faq-modal {
    top: 177px
}

li.faq-icns i {
    font-size: 14px;
    padding: 5px;
    background: #461a55;
    margin-top: 7px;
}

li.faq-icns a i {
    color: #fff
}

.text-hide {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 670px) {

    img.margin-img {
        margin-left: 0px;
        width: 100%;
    }

    .carousel-control {
        margin-top: 20%
    }

    .faqs-box {
        margin-top: -123%;
    }

    button.faq-modal {
        top: auto;
    }
    /* .mohsineenFellowsContent .has-search .form-control-feedback {top:101px; right:16px;}*/
    span.sub-label {
        font-size: .85rem;
    }

    .ipg_logos {
        width: 99%
    }

    h4.cmnts-heading::after {
        content: '';
        background: rgb (237 189 93);
        height: 4px;
        width: 18%;
        position: absolute;
        bottom: -7px;
        left: 25px;
        top: 40px;
    }
}


@media only screen and (min-device-width: 360px) and (max-device-width: 670px) {
    button.last-btn {
        background-position: 143px 52px;
    }
}

/*=============================iphone 5*/

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
    img.margin-img {
        margin-left: 0px;
    }

    button.last-btn {
        background-position: 122px 52px;
    }

    .faqs-box {
        margin-top: -165%;
    }

    img.wiredimg {
        width: 100%;
    }

    .has-search .form-control-feedback {
        top: 117px;
    }

    .freq_yearly, .freq_monthly {
        width: 128px;
    }

    .amnt-field {
        width: 135px;
    }
    /*.runnertxt span.lastbtn::after {content:'1'; color:transparent; background-image: url(../images/playicon.svg); background-repeat: no-repeat; background-position: right; padding-left: 14px;position: absolute; left: 242px;  top: 205px;}*/
    .runnertxt span {
        font-weight: 700;
        font-style: normal;
        background-repeat: no-repeat;
        background-position: right 0px;
        padding-right: 18px;
    }

    .runnertxt button {
        font-size: 1.7rem;
    }

    .runnertxt {
        font-size: 1.7rem;
    }


    .head_banner_ayat img {
        width: 275px;
    }

    .org-field {
        margin-top: -1%;
    }
}

@media only screen and (min-device-width: 370px) {

    .amnt-field {
        width: 135px;
    }
}

/*=============================iphone 5 ENDS*/

@media only screen and (min-device-width: 410px) {

    .runnertxt span {
        padding-right: 20px;
    }
}

/*=============================iphone 5*/
@media only screen and (min-device-width: 360px) and (max-device-width: 370px) {

    .amnt-field {
        width: 152px;
    }

    .freq_yearly, .freq_monthly {
        width: 157px;
    }
}
/*=============================desktop*/


@media screen and (min-device-width: 1024px) and (max-device-width: 1980px) {

    .amnt-field {
        width: 23.7%;
        margin-right: 0px;
    }

    .modal-content {
        margin-top: -30%;
    }

    .custom-tb-lg {
        margin-bottom: 0;
    }
    .currency-field {
        width: 23.8% !important;
    } 

    .list-head {
        margin-top: -24px;
        margin-left: -30px;
    }

    .has-search .form-control-feedback {
        top: 110px;
        right: 35px;
    }
    /*.mohsineenFellowsContent .has-search .form-control-feedback {top:92px; right:35px;}*/

    img.margin-img {
    }

    .gallery-modal {
    }
}

/*=============================table - ipad*/

@media only screen and (min-device-width: 1024px) {

    .form-group.row.custom-ff {
        width: 100% !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .h4.cmnts-heading::after {
        left: 217px;
    }

    .amnt-field {
        width: 115px;
    }

    label.chkbox-container {
        width: 65%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .org-field {
        margin-top: 2.2%;
    }

    .cat-btn {
        width: 58%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .head_banner_ayat hr {
        width: 14%;
    }

    .paragrah-width {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .zakat-txt {
        margin-top: 20px;
    }

    .list-head {
        margin-top: -26px;
        text-align: left;
        padding-left: 140px;
    }

    .has-search .form-control-feedback {
        top: 59px;
        right: 140px;
    }

    .runnertxt {
        transform: scale(1.2);
        padding-bottom: 24px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {



    label.chkbox-container {
        width: 95%;
    }

    .form-group.row.custom-ff {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="tel"], input[type="url"] {
        font-size: 16px;
    }
}

.hideContentWithanimate {
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    position: absolute;
    /*left: -2300px;*/
    display: none;
}

.div-data {
    float: left;
}

.div-type {
    float: right;
}
