// Heading Guide
// h1{font-size: 40px;}
// h2{font-size: 32px;}
// h3{font-size: 28px;}
// h4{font-size: 24px;}
// h5{font-size: 20px;}
// h6{font-size: 16px;}
// Heading Guide



// Fon Weight
$ExtraBold: 800;
$Bold: 700;
$SemiBold:600;
$Medium:500;
$Regular:400;
$Light:300;
// Fon Weight

// Theme Font Size
$figureFont: 53px;
// Theme Font Size


//Flex Properties
$d-fl:flex;
$ju-st: start;
$ju-ce: center;
$ju-en: end;
$ju-be:space-between;
$al-st: flex-start;
$al-ce: center;
$al-en: flex-end;
$di-co: column;
$di-co-re: column-reverse;
$di-ro: row;
$di-ro-re: row-reverse;
//Flex Properties


// Family
$fontPrimary: 'Poppins', sans-serif;
// Family


// Theme Color
$PrimaryClr : #461a55;
$SecondaryClr : #c69c52;
$black: #000;
$white: #fff;
// Theme Color





$Border : 1px solid #e7e7e7;


