@media (max-width:1600px) {
  
}
@media (max-width:1441px) {

   
}
@media (max-width:1367px) {
   
}
@media (max-width:1281px) {
   
}
@media (max-width:1200px) {
   
}
@media(max-width:1024px){
   
}
@media (max-width:993px) {
    .container{
        padding: 0 !important;
    }
}

@media  (max-width:815px) {
 
    
}
@media  (max-width:768px) {
   
  
}

@media (max-width:576px) {
    header {
        background-position: 0 0px;
        background-image: url(../img/mobile-header.png);
    }
    footer {
        background-image: url(../img/mobile-footer.png);
        padding: 29px 0 0;
        background-position: 0 -28px;
    }
    section {
        padding: 10px 17px;
    }
    .wrapper .option {
        padding: 7px 12px;
    }
    header:before {
        background-size: 28%;
    }
    .footer-content:after {
        background-size: 29%;
    }
}
@media (max-width:414px) {
    /*.wrapper .option {
        height: 49px;
    }*/
    label.radio-custom-label {
        padding-left: 10px;
    }
    section.footer-foundation {
        padding: 30px 0 0;
    }
    label.radio-custom-label {
        font-size: 14px;
    }
}
@media (max-width:376px) {
    .list-of-support ul li {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .checklist-left input {
        margin-top: 0px;
    }
    .s-list-right {
        text-align: left;
        margin-left: 23px;
    }
    .wrapper {
        margin: 10px 0px 0;
    }
    .align-item {
        align-items: flex-start;
    }
}
@media (max-width:360px) {
    
}
@media (max-width:321px) {
   
}