﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Trust,Habib University Trust US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
    <title>HUF PK - Annual Gala 2021</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
  
    <link rel="shortcut icon" type="image/x-icon" href="https://hufus.org/img/favicon-hufus.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/pledgecontent/css/style.css">
    <link rel="stylesheet" href="/pledgecontent/css/responsive.css">
    <link rel="stylesheet" href="/pledgecontent/css/plugin.css">
	<script src="https://use.fontawesome.com/6fac2730d4.js"></script>
</head>
<body>
    <div class="main-wraper">
        <header>
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4">
                        <div class="header-inner">
                            <div class="logo">
                                @*<img src="/pledgecontent/img/hu-logo.svg" alt="" class="logo-main">
                                <img src="/pledgecontent/img/huf-logo.svg" alt="" class="logo-huf">*@

                                <img src="/images/Uk PledgeLogo.svg" />
                            </div>
                            <div class="header-content">
                                <h1>
                                    Building Communities <br>
                                    & Reshaping Philanthropy
                                </h1>
                                <!--<p>Make Your Support</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner">
            @Html.Partial("_LoginPartial")
        </div>
        <div class="container body-content">
            <div id="mask" style="display:none; background-color:black; opacity:0.15; z-index: 9000; width:100%; height:100%; position:fixed; top:0;left:0"></div>
            <div id="loader" style="display:none; position:fixed; top:0; bottom:0; left:0;right:0; margin:auto; width:100px; height:100px; z-index:9001; background-image:url(../../Content/ajax-loaderBlack.gif)"></div>

            @RenderBody()

        </div>
        <section class="footer-content">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4">
                        <div class="footercon-iner">
                            <p>
                                <span>Habib University Foundation</span>
                                Habib University Foundation (HUF) is a not-for-profit organization registered under Section 42 of the Companies Act, 2017. All donations to HUF are eligible for tax credit under section 61 of the Income Tax Ordinance 2001.HUF is also Sharia compliant for Zakat collection, certified by Sharia advisor from Jamia Dar ul Uloom, Karachi.
                            </p>
                            <div class="footer-cottom-link">
                                <p style="display: none;"> &copy; HABIB UNIVERSITY Foundation </p>
                                <a href="https://habib.edu.pk/">habib.edu.pk</a>
                                <a href="javascript:;">|</a>
                                <a href="mailto:giving@habib.edu.pk">giving@habib.edu.pk</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


<footer class="footer-btm">

</footer>

    <script src="/pledgecontent/js/plugin.js"></script>
    <script src="/pledgecontent/js/custom.js?v=5"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51636538-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-51636538-11');
    </script>
</body>
</html>
