﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHUFGala2021.cshtml";
}

        <section class="pledge-area">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4 col-sm-7">
                        <h2 class="sec-heading">Make Your Committment</h2>
                        
                       @Html.Hidden("ThankYouLink", Url.Action("ThankYou", "Support"))
                        <div class="btn-wraper sec-brder">
                            <h3>Select an area to pledge</h3>
                            <div class="wrapper">
                                <div class="radio-row">
                                    <input type="radio" name="pledgeCategory" id="Merit_based_scholership" value="Recurring Merit Scholarship" class="radio-custom mainCat" />
                                    <label for="Merit_based_scholership" class="option option-5 radio-custom-label">
                                        Recurring Merit Scholarship
                                        <p class="genra-span">Scholarships recognize the academic merit of student from all financial background.</p>
                                    </label>
                                </div>
                                <label id="extra" class="text-danger text-hide"></label>
                                <div class="radio-row">
                                    <input type="radio" name="pledgeCategory" id="Need_based_scholarship" value="Need based Financial Support" class="radio-custom mainCat" />
                                    <label for="Need_based_scholarship" class="option option-4 radio-custom-label">
                                        Need based Financial Support
                                        <p class="genra-span">Supports students from low-income background.</p>
                                    </label>
                                </div>
                                <label id="pledgeCategoryError" class="text-danger text-hide"></label>
                                <div class="radio-row">
                                    <input id="redirect" class="radio-custom mainCat" type="radio" name="pledgeCategory">  @*onclick="redirecDonate()"*@
                                    <label for="redirect" class="radio-custom-label redirect-url">
                                        Accessible Giving
                                        <p class="genra-span">A small contribution by many community members can make a big impact!</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="list-of-support slec-plane options-list" style="display:none;">
                            <ul>
                                <li class="active-attr">
                                    <div class="item-tick">
                                        <div class="checklist-left">
                                            <input type="checkbox" id="full_named_scholarship_opportunity" name="full_named_scholarship_opportunity" value="40000" class="pledge-option radio_cus_pledg">
                                            <label for="full_named_scholarship_opportunity" id="full_named_scholarship_opportunity_label" class="raio_label_pledg">Full Named Scholarship Opportunity</label>
                                        </div>
                                        <span class="usd-price"> PKR 40,000 for 4 years ( PKR 10,000 / year)</span>
                                        <input type="hidden" id="full_named_scholarship_opportunity_weightage" name="full_named_scholarship_opportunity_weightage" value="1" />
                                        <input type="hidden" id="full_named_scholarship_opportunity_id" name="full_named_scholarship_opportunity_id" value="1" />
                                    </div>
									<div class="s-list-right">
										<div class="studen-count std-count" id="full_named_scholarship_opportunity_divYears" style="display: none;">
											<span class="no-std">No. of Years(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="full_named_scholarship_opportunity_years" class="qtyValue" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
										</div><!--studen-count-->
										<div class="years-count std-count" id="full_named_scholarship_opportunity_div" style="margin-left:0">
											<span class="no-std">No. of Student(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="full_named_scholarship_opportunity_no" class="qtyValue" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
										</div><!--years-count-->
									</div>
                                </li>
                                <li class="active-attr">
                                    <div class="item-tick">
                                        <div class="checklist-left">
                                            <input type="checkbox" id="1_year_support_for_1_student" name="1_year_support_for_1_student" value="6000" class="pledge-option radio_cus_pledg">
                                            <label for="1_year_support_for_1_student" id="1_year_support_for_1_student_label" class="raio_label_pledg">1 Year Support for 1 Student</label>
                                        </div>
                                        <span class="usd-price"> PKR 6,000 / year</span>
                                        <input type="hidden" id="1_year_support_for_1_student_weightage" name="1_year_support_for_1_student_weightage" value="1" />
                                        <input type="hidden" id="1_year_support_for_1_student_id" name="1_year_support_for_1_student_id" value="2" />
                                    </div>
                                    <div class="s-list-right ">
										<div class="studen-count std-count" id="1_year_support_for_1_student_divYears">
											<span class="no-std">No. of year(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="1_year_support_for_1_student_years" class="qtyValue numbersOnly" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
										</div>
										<div class="years-count std-count" id="1_year_support_for_1_student_div">
											  <span class="no-std">No. of student(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="1_year_support_for_1_student_no" class="qtyValue numbersOnly" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
										</div>
                                    </div>
                                </li>
                                <li class="active-attr">
                                    <div class="item-tick">
                                        <div class="checklist-left">
                                            <input type="checkbox" id="1_semester_support_for_1_student" name="1_semester_support_for_1_student" value="3000" class="pledge-option radio_cus_pledg">
                                            <label for="1_semester_support_for_1_student" id="1_semester_support_for_1_student_label" class="raio_label_pledg">1 Semester Support for 1 Student</label>
                                        </div>
                                        <span class="usd-price"> PKR 3,000 / semester</span>
                                        <input type="hidden" id="1_semester_support_for_1_student_weightage" name="1_semester_support_for_1_student_weightage" value="0.5" />
                                        <input type="hidden" id="1_semester_support_for_1_student_id" name="1_semester_support_for_1_student_id" value="2" />
                                    </div>
                                    <div class="s-list-right">
										
										<div class="studen-count std-count" id="1_semester_support_for_1_student_divYears">
											<span class="no-std">No. of year(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="1_semester_support_for_1_student_years" class="qtyValue numbersOnly" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
                                    	</div>
                                   
										<div class="years-count std-count" id="1_semester_support_for_1_student_div">
											<span class="no-std">No. of student(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="1_semester_support_for_1_student_no" class="qtyValue numbersOnly" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
                                    </div>
									</div>
                                </li>
                                <li class="active-attr">
                                    <div class="item-tick">
                                        <div class="checklist-left">
                                            <input type="checkbox" id="half_semester_support_for_1_student" name="half_semester_support_for_1_student" value="1500" class="pledge-option radio_cus_pledg">
                                            <label for="half_semester_support_for_1_student" id="half_semester_support_for_1_student_label" class="raio_label_pledg">Half Semester Support for 1 Student</label>
                                        </div>
                                        <span class="usd-price"> PKR 1,500</span>
                                        <input type="hidden" id="half_semester_support_for_1_student_weightage" name="half_semester_support_for_1_student_weightage" value="0.25" />
                                        <input type="hidden" id="half_semester_support_for_1_student_id" name="half_semester_support_for_1_student_id" value="3" />
                                    </div>
                                    <div class="s-list-right">
										<div class="studen-count std-count" id="half_semester_support_for_1_student_divYears">
											<span class="no-std">No. of year(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="half_semester_support_for_1_student_years" class="qtyValue numbersOnly" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
                                    </div>
                                    <div class="years-count  std-count" id="half_semester_support_for_1_student_div">
											<span class="no-std">No. of student(s)</span>
											<div class="qtySelector text-center">
												<i class="fa fa-minus decreaseQty"></i>
												<input type="text" id="half_semester_support_for_1_student_no" class="qtyValue numbersOnly" value="1" />
												<i class="fa fa-plus increaseQty"></i>
											</div>
                                    </div>
									</div>
                                </li>
                                <li class="align-item active-attr">
                                    <div class="item-tick">
                                        <input type="checkbox" id="other_amount" name="other_amount" value="1" class="pledge-option radio_cus_pledg"/>
                                        <label for="other_amount" id="other_amount_label" class="raio_label_pledg">Any other amount</label>
                                    </div>
									<div class="s-list-right" id="other_amount_div">
                                          <div class="input-group user-am-input">
                                              <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1">PKR</span>
                                              </div>
                                            <input type="text" class="form-control qtyValue numbersOnly numbersOnlyWithComma" onchange="onOtherTxtEvents(this);"  disabled id="other_amount_no"  aria-label="Username" aria-describedby="basic-addon1">
                                          </div>
                                     </div>  
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pledgec-confirm options-list" style="display:none;">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4">
                        <div class="pledge-confrim-inner">
                            <div class="pledge-con-head">
                                <h2 class="sec-heading">Your Total Pledge!</h2>
                                <div class="p-conf-right">
                                    <h1>
                                        <span class="pledge-con-amount">PKR <span id="totalPledgeAmount">0,000</span></span>
                                    </h1>
                                </div>
                            </div>
                            <div class="list-of-support">
                                <ul>
                                    <li>
                                        <div class="item-tick">
                                            <input type="checkbox" id="chkZakat" name="chkZakat" class="radio_cus_pledg" value="Zakat">
                                            <label for="chkZakat" id="chkZakat_label" class="raio_label_pledg">Consider as Zakat</label>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="deatils-form options-list" style="display:none;">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4">
                        <div class="detail-form-inner">
                            <p>
                                Please provide following informatiom, member  of the resource development
                                team will be in touch with you  for further details.
                            </p>
                            <form action="" class="donation-detailo-form "><!--px-4-->
                                <div class="row no-gutters">
                                    <div class="col-lg-6 pr-lg-2">
                                        <div class="form-group">
                                            <img src="/pledgecontent/img/icon1.svg" class="icon-control" alt="">
                                            <input type="text" class="form-control alphabateOnly" id="firstName"  name="firstName" placeholder="First Name" autocomplete="off" value="">
                                            <label id="firstNameError" class="text-danger text-hide"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-lg-2">
                                        <div class="form-group">
                                            <img src="/pledgecontent/img/icon1.svg" class="icon-control" alt="">
                                            <input type="text" class="form-control alphabateOnly" placeholder="Last Name"  id="lastName" name="lastName" autocomplete="off" value="">
                                            <label id="lastNameError" class="text-danger text-hide"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <img src="/pledgecontent/img/icon2.svg" class="icon-control" alt="">
                                            <input type="text" class="form-control" placeholder="Email" id="email" name="email" autocomplete="off" value="">
                                            <label id="emailError" class="text-danger text-hide"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <img src="/pledgecontent/img/icon3.svg" class="icon-control" alt="">
                                            <input type="text" class="form-control numbersOnlyWithoutComma" placeholder="Cell (0044XXXXXXXXXX)" id="phone" maxlength="14" name="phoneNo" autocomplete="off" value="">
                                            <label id="contactNoError" class="text-danger text-hide"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="display:none">
                                        <div class="form-group">
                                            <img src="/pledgecontent/img/icon4.svg" class="icon-control" alt="">
                                            <input type="text" class="form-control" placeholder="Address (House#, Street#, Town/City, Postcode)"  id="address" name="address" maxlength="50" autocomplete="off" value="">
                                            <label id="addressError" class="text-danger text-hide"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <img src="/pledgecontent/img/icon5.svg" class="icon-control" alt="">
                                            <input type="text" class="form-control" placeholder="Organization" id="oragnization" name="oragnization" autocomplete="off" value="">
                                            <label id="oragnizationError" class="text-danger text-hide"></label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pledge-recognized options-list" style="display:none;">
            <div class="container">
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-4">
						
						<div class="pledge-inner-recognize">
                         <h2 class="sec-heading">Pledge to be recognized by</h2>
 
                         <div class="list-of-support pt-2">
                             <ul class="pldge-rec-ul">
                                 <li>
                                     <div class="item-tick"><input type="radio" class="radio_cus_pledg" id="rdSelf" name="recognition" value="Self">
										 <label for="rdSelf" class="raio_label_pledg">Self</label>
                                     </div>
                                 </li>
                                 <li>
                                     <div class="item-tick"><input type="radio" class="radio_cus_pledg" id="rdAnanymous" name="recognition" value="Anonymous">
										 <label for="rdAnanymous" class="raio_label_pledg">Anonymous</label>
                                     </div>
                                 </li>
                                 <li class="last-child">
                                     <div class="item-tick">
                                         <input type="radio" class="radio_cus_pledg" id="rdInMemoryOf" name="recognition" value="In the name/memory of">
                                         <label for="rdInMemoryOf" class="raio_label_pledg">In the name / memory of</label>
                                     </div>
                                 </li>
                             </ul> 
                               
<!--
                             <form action="" class="donation-detailo-form">
                                 <div class="row no-gutters">
                                     <div class="col-lg-12">
                                         <div class="form-group recognize-form">
                                             <input type="text" class="form-control" placeholder="Enter the name other than the self">
                                         </div>
                                     </div>
                                     <div class="col-lg-12 sec-brder pt-3">
                                         <div class="form-group">
                                             <button type="submit" class="pledge-btn">Pledge</button>
                                         </div>  
                                     </div>
                                 </div>
                             </form>
-->
							 
                                @*<form action="" class="donation-detailo-form px-4 pt-2">*@
                         <div class="row no-gutters">
                             <div class="col-lg-12" id="divInNameOf" style="display:none;">
                                 <div class="form-group">
                                     <input type="text" id="txtInNameOf" class="form-control" placeholder="Enter the name other than the self">
                                 </div>
                             </div>
                             <label id="recognitionError" class="text-danger text-hide"></label>
                             <div class="col-lg-12 sec-brder pt-3">
                                 <div class="form-group">
                                     <button type="button" class="pledge-btn" id="btnPledge">Pledge</button>
                                     <input type="hidden" id="dateTime" value="@DateTime.UtcNow.AddHours(5)" />
                                 </div>
                             </div>
                         </div>
                                @*</form>*@
                         </div>
                        </div>
<!--
                        <div class="pledge-inner-recognize">
                            <h2 class="sec-heading">Pledge to be recognized by</h2>

                            <div class="list-of-support">
                                <ul>
                                    <li>
                                        <div class="item-tick">
                                            <input type="radio" id="rdSelf" name="recognition" value="Self">
                                            <label for="rdSelf">Self</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-tick">
                                            <input type="radio" id="rdAnanymous" name="recognition" value="Ananymous">
                                            <label for="rdAnanymous">Ananymous</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-tick">
                                            <input type="radio" id="rdInMemoryOf" name="recognition" value="In the name/memory of">
                                            <label for="rdInMemoryOf">In the name/memory of</label>
                                            <label id="recognitionError" class="text-danger text-hide"></label>
                                        </div>
                                    </li>
                                </ul>
-->

<!--
                                @*<form action="" class="donation-detailo-form px-4 pt-2">*@
                                    <div class="row no-gutters">
                                        <div class="col-lg-12" id="divInNameOf" style="display:none;">
                                            <div class="form-group">
                                                <input type="text" id="txtInNameOf" class="form-control" placeholder="Enter the name other than the self">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 sec-brder pt-3">
                                            <div class="form-group">
                                                <button type="button" class="pledge-btn" id="btnPledge">Pledge</button>
                                                <input type="hidden" id="dateTime" value="@DateTime.Now" />
                                            </div>
                                        </div>
                                    </div>
                                @*</form>*@
-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

  

