﻿
@{
                /**/

                ViewBag.Title = "dasboard";
                Layout = "";
}


<style>
    #scroller {
        overflow-y: scroll;
        padding: 0;
        margin: 0 border:1px solid #eee;
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Foundation,Habib University Foundation US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
    <title>Donation Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Dashboard/img/favicon-hufus.ico">

    <!-- Bootstrap CSS -->

    <link href="~/Content/Dashboard/css/plugin.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/style.css" rel="stylesheet" />
</head>
<body class="js-container">


    <header>
        <div class="container-fluid px-5">
            <div class="header-inner">
                <div class="logo">
                    <img src="~/Content/Dashboard/img/hu-logo.svg" alt="" class="hu-logo">
                </div>
                <div class="buildin-content">
                    <h2>
                        Building Communities
                        & Reshaping Philanthropy
                    </h2>
                    <h3>Make your Commitment</h3>
                </div>
                <div class="left-logo">
                    <img src="~/Content/Dashboard/img/huf-us-logo.svg" alt="" class="huf-logo">
                </div>
            </div>
        </div>
    </header>
    <div class="main-wrapper">

        <section class="guest-participation">
            <div class="container-fluid px-5">
                <div class="row align-items-end">
                    <div class="col-lg-4 main-box-target">
                        <div class="target-ammoun gradient-border">
                            <h4>Target Amount for Tonight</h4>
                            <h1 class="target-amount" id="lblTragetAmt">USD 0</h1>
                            <div class="raised-area reaised-center">
                                <div class="raised-area-box">
                                    <h4>Total Committed Pledges</h4>
                                    <h1 class="raised-amount" id="lblRaisedAmt">USD 0</h1>
                                </div>
                                <div id="graphCommitted">

                                    <div class="box-chart-counter">
                                        <div class="raised-amount-counter" data-percent="0">0%</div>
                                    </div>
                                </div>

                            </div>
                            <div class="raised-area raised-black">
                                <div class="raised-area-box">
                                    <h4>Total Pledge Amount 2021-2022</h4>
                                    <h1 class="raised-amount" id="lblTotalPAmt">USD 0</h1>
                                </div>

                                <div id="graphPleged">
                                    <div class="box-chart-counter">
                                        <div class="total-pldge-amount" data-percent="0">0%</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row justify-content-end">
                            <div class="col-lg-5 set-scan-code">
                                <div class="scan-support-bar">
                                    <img src="~/Content/Dashboard/img/hufus-support-qrcode.png" class="bar-code-suuport" alt="">
                                    <div class="bar-code-content">
                                        <h2>Scan to Support</h2>
                                        <p>hufus.org/support</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="guest-box after-img">
                                    <div class="guest-head">
                                        <h1 class="percentage-count" id="SustainablePer">0%</h1>
                                        <p class="user-count"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""><span id="T_sustainable_People">0</span></p>
                                    </div>
                                    <p>of <span id="Sustainable_Count">0</span>  guests signed up <br> for Accessable giving</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="guest-box-last after-img">

                                    <div class="guest-last-left">
                                        <h1 class="percentage-count" id="lbl_TotalScholarship">0</h1>
                                        <p>Full named <br> scholarships</p>
                                    </div>
                                    <div class="guest-last-left">
                                        <p class="user-count"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""><span id="T_Pledge_People">0</span></p>
                                        <div class="bottom-last-box">
                                            <h1 class="percentage-count" id="lblWeightageAmt">0</h1>
                                            <p>Scholarships <br> are pledged</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="all-contributes-area">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="sup-head">Supporters</h4>
                        <div class="contr-wraper-main">
                            <ul class="all-contribute" id="animatedHeading"></ul>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <h4 class="sup-head">Comments From Gala Supporter</h4>
                        <div id="scroller">
                            <div id="commentsContainer">


                            </div>



                        </div>

                    </div>
                </div>
        </section>
        <footer>
            <p class="copy-text">&copy; <a href="https://hufus.org/">hufus.org</a> | <a href="mailto:giving@hufus.org">giving@hufus.org</a></p>
        </footer>
    </div>

    <div class="donation-celebration">
        <div class="donation-content">
            <label class="donator-name">
                Muhammad Shehriyar Hasan
                <!-- <span>Donated</span> -->
            </label>
            <label class="donation-recieve">signed up for accessible giving !</label>
        </div>
    </div>


    <script src="~/Content/Dashboard/js/plugin.js"></script>
    <script src="~/Content/Dashboard/js/custom.js"></script>
    <script src="~/Content/Dashboard/js/Dashboard.js"></script>

    <script src="~/Scripts/accounting.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>

    <script src="/signalr/Hubs"></script>

</body>
</html>



<script>

    setInterval(function () {

        $.connection.hub.start();

    }, 4000);


    var QueueHub = $.connection.HUFHUB;

    QueueHub.client.NewMessage = function (NewComtFlag, PublishMessageID, UnPublishMessageID, Msg, P_Name) {
        debugger;
        //$('#Chats').append('<li><strong> User Name : </strong> ' + htmlEncode(Name)

        //    + '<strong> Message : </strong> ' + htmlEncode(Message) + '</li>');
        //    //+ '<strong> Room : </strong> ' + htmlEncode(Room) + '</li>'
        //    //+ '<strong> DisplayIP : </strong> ' + htmlEncode(DisplayIP) + '</li>'
        //    //+ '<strong> ConsultantName : </strong> ' + htmlEncode(ConsultantName) + '</li>'
        //    //+ '<strong> PatientName : </strong> ' + htmlEncode(PatientName) + '</li>'
        //    //+ '<strong> ButtonCode : </strong> ' + htmlEncode(button_Code) + '</li>'
        //    //+ '<strong> Status: </strong> ' + htmlEncode(Status) + '</li>');



        Append_Comments(PublishMessageID, Msg, P_Name)

        remove_Comments(UnPublishMessageID);
    };

    QueueHub.client.reset = function (Dashboardclare, UnPublishMessageID, Msg, P_Name) {
        debugger;

        if (Dashboardclare == 1) {
            localStorage.clear();

        }


    };
</script>
