﻿
@{
    /**/

    ViewBag.Title = "Dashboard";
    Layout = "";
}


<style>
    #scroller {
        overflow-y: scroll;
        padding: 0;
        margin: 0 border:1px solid #eee;
        width: 100%;
        height: 344px;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background: #fff;
        box-shadow: 30px 30px 127px 0px #ccccccad;
    }

    .marquee {
        width: 100%;
        overflow: hidden;
        border: 1px solid #ccc;
       
        height:500px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Foundation,Habib University Foundation US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Dashboard/img/favicon-hufus.ico">

    <!-- Bootstrap CSS -->

    <link href="~/Content/Dashboard/css/plugin.css" rel="stylesheet" />

    <link href="~/Content/Dashboard/css/style.css" rel="stylesheet" />
</head>
<body class="js-container">


    <header>
        <div class="container-fluid px-5">
            <div class="header-inner">
                <div class="logo">
                    <img src="~/Content/Dashboard/img/hu-logo.svg" alt="" class="hu-logo">
                </div>
                <div class="buildin-content">
                    <h2>
                        The Houston Commitment
                    </h2>
                    <h3>Make your Pledge</h3>
                </div>
                <div class="left-logo">
                    <img src="~/Content/Dashboard/img/huf-us-logo.svg" alt="" class="huf-logo">
                </div>
            </div>
        </div>
    </header>
    <div class="main-wrapper">

        <section class="guest-participation">
            <div class="container-fluid px-5">
                <div class="row align-items-end">
                    <div class="col-lg-4 main-box-target">
                        <div class="target-ammoun gradient-border">
                            <h4>Target Pledge Amount from USA<br />2021-2022</h4>
                            <h1 class="target-amount" id="lblTragetAmt">PKR 0</h1>
                            <div class="raised-area reaised-center">
                                <img class="animation-raised" style="display:none" src="/Content/Dashboard/img/animation_500_kw3m3lml.gif" alt="">

                                <div class="raised-area-box">
                                    <h4>Tonight's Pledge Amount from<br />Houston 2021-2022</h4>
                                    <h1 class="raised-amount" id="lblTotalPAmt">PKR 0</h1>


                                </div>
                                <div id="graphCommitted">
                                    <div class="box-chart-counter">
                                        <div class="raised-amount-counter" data-percent="0">0%</div>
                                    </div>
                                </div>

                            </div>


                            <!--//////////////-->
                            <div class="raised-area raised-black" style="display:none">
                                <div class="raised-area-box">
                                    <h4>Total Pledge Amount 2021-2022</h4>
                                    <h1 class="raised-amount" id="lblRaisedAmt">PKR 0</h1>
                                </div>

                                <div id="graphPleged" style="display:none">
                                    <div class="box-chart-counter">
                                        <div class="total-pldge-amount" data-percent="0">0%</div>
                                    </div>
                                </div>

                            </div>
                            <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row justify-content-end">
                            <div class="col-lg-5 set-scan-code">
                                <div class="scan-support-bar" style="display:none">
                                    <img src="~/Content/Dashboard/img/hufus-support-qrcode.png" class="bar-code-suuport" alt="">
                                    <div class="bar-code-content">
                                        <h2>Scan to Pledge</h2>
                                        <p>hufus.org/support</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="guest-box-last after-img">

                                    <div class="guest-last-left">
                                        <h1 class="percentage-count" id="lbl_TotalScholarship">0</h1>
                                        <p>Full named <br> scholarships</p>
                                    </div>
                                    <div class="guest-last-left">
                                        <p class="user-count"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""><span id="T_Pledge_People">0</span></p>
                                        <div class="bottom-last-box">
                                            <h1 class="percentage-count" id="lblWeightageAmt">0</h1>
                                            <p>Scholarships <br> pledged</p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="guest-box after-img  accessible-giving-div">
                                    <div class="guest-head" style="display: block;">
                                        <h4 class="accessible-giving-box">Accessible Giving</h4>
                                        <h1 class="percentage-count" id="SustainablePer" style="display:none">0%</h1>
                                        <p class="accessible-giving-users"><img src="~/Content/Dashboard/img/user-icon.svg" alt="" style="width: 34px;"><span id="T_sustainable_People">0</span></p>
                                        <img src="~/Content/Dashboard/img/app-screenshot.svg" alt="" class="app-screenshot">
                                    </div>
                                    <p>
                                        <!--of <span id="Sustainable_Count">0</span>  guests signed up <br> for Accessible Giving-->

                                    </p><!--<h5 class="low-as">Your <span>support</span> will ensure access for the most talented and deserving students.</h5>-->
                                    <h5 class="low-as">There is <span>Strength in Numbers"</span></h5>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="all-contributes-area">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="sup-head">Supporters</h4>


                        @*<marquee direction="up" id="animatedHeading2"></marquee>*@
                        <div class="contr-wraper-main">

                            <marquee direction="up" scrolldelay="5" scrollamount="1" vspace="1%" height="300px">
                                <ul class="all-contribute" id="animatedHeading"></ul>

                            </marquee>

                            @*<div class="marquee">


                                    <ul class="all-contribute" id="animatedHeading">                   </ul>


                                </div>*@


                            @*<ul class="all-contribute" id="animatedHeading">                    <li>                      <div class="flex-set">                        <div class="al-conrib-left">                             <p style="text-transform: capitalize;"> John  Peters     <span>Recurring Merit Scholarship</span></p>                             <p class="newest-tag">  New</p>                   </div>                     <div class="al-conrib-right"><p class="rec-sp">  <span class=""></span>  <span class="al-usd">USD 1,500</span></p>   <p class="rec-sp"></p></div></div></li>                   <li>                      <div class="flex-set">                        <div class="al-conrib-left">                             <p style="text-transform: capitalize;"> Tatheer   <span>Accessible Giving</span></p>                   </div>                     <div class="al-conrib-right"><p class="rec-sp">  <span class="al-month">Yearly</span>  <span class="al-usd">USD 300</span></p><p class="rec-sp monthly-usd">Monthly USD 25</p></div></div></li>                   <li>                      <div class="flex-set">                        <div class="al-conrib-left">                             <p style="text-transform: capitalize;"> Syeda Hamdani    <span>Need based Financial Support</span></p>                   </div>                     <div class="al-conrib-right"><p class="rec-sp">  <span class=""></span>  <span class="al-usd">USD 40,000</span></p>   <p class="rec-sp"></p></div></div></li>                   <li>                      <div class="flex-set">                        <div class="al-conrib-left">                             <p style="text-transform: capitalize;"> Talib Dhanji  <span>Accessible Giving</span></p>                   </div>                     <div class="al-conrib-right"><p class="rec-sp">  <span class=""></span>  <span class="al-usd">USD 5</span></p></div></div></li>                   <li>                      <div class="flex-set">                        <div class="al-conrib-left">                             <p style="text-transform: capitalize;"> Talib  Dhanji     <span>Recurring Merit Scholarship</span></p>                   </div>                     <div class="al-conrib-right"><p class="rec-sp">  <span class=""></span>  <span class="al-usd">USD 40,000</span></p>   <p class="rec-sp"></p></div></div></li>              <li>                  <div class="flex-set img-flex-set">                      <div class="al-conrib-left">                          <p style="text-align:center;">                            <img src="/Content/Dashboard/img/footer.svg">                          </p>                      </div>                  </div>              </li></ul>*@
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <h4 class="sup-head">Comments From Gala Supporters</h4>
                        <div id="scroller">


                            <marquee direction="up" scrolldelay="5" scrollamount="1" vspace="1%" height="300px">

                                <ul class="all-contribute" id="commentanimatedHeading"></ul>
                            </marquee>

                        </div>




                    </div>


                    @*<div class="col-lg-6">
                            <span class="Timer"></span>

                            <input id="button"  type="button"/>


                        </div>*@
                </div>
            </div>
        </section>
        <footer>
            <p class="copy-text">&copy;  <a href="https://habib.edu.pk/">habib.edu.pk</a> |  <a href="mailto:giving@habib.edu.pk">giving@habib.edu.pk</a></p>

         
        </footer>
    </div>

    <div class="donation-celebration">
        <div class="donation-content">
            <label class="donator-name">
                Muhammad Shehriyar Hasan
                <!-- <span>Donated</span> -->
            </label>
            <label class="donation-recieve">signed up for accessible giving !</label>
        </div>
    </div>


    <script src="~/Content/Dashboard/js/plugin.js"></script>

    <script src="~/Content/Dashboard/js/custom.js"></script>
    <script src="~/Content/Dashboard/js/Dashboard.js?v=1"></script>
    <script src="~/Scripts/accounting.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/Hubs"></script>
    <script src="~/Content/Dashboard/js/jquery.cookie.js"></script>
    <input type="hidden" name="UserName" id="hfDashboarLoginID" value="@ViewBag.DashboardLoginID" />
    @using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
    {

        @*<input type="hidden" name="hfcelId" id="hfcelId" />*@
        <input type="hidden" name="UserRefid" id="hfUserRefID" value="@ViewBag.UserRedId" />

        <input type="submit" style="display:none" />
    }

 


</body>
</html>



<script>
   

    //$(document).keypress(function (event) {
       
    //    var keycode = (event.keyCode ? event.keyCode : event.which);
    //    if (keycode == '13') {

    //        document.forms[0].submit();
    //    }
    //});
    //$('#animatedHeading').newsTicker({
    //    row_height: 120,
    //    max_rows: 4,
    //    speed: 600,
    //    direction: 'up',
    //    duration: 4000,
    //    autostart: 1,
    //   // pauseOnHover: 0
    //});
    //$('.marquee').marquee({
    //    //speed in milliseconds of the marquee
    //    duration: 5000,
    //    //gap in pixels between the tickers
    //   // gap: 50,
    //    //time in milliseconds before the marquee will start animating
    // //   delayBeforeStart: 0,
    //    //'left' or 'right'
    //    direction: 'up',
    //    //true or false - should the marquee be duplicated to show an effect of continues flow
    //  //  duplicated: true
    //});
    setInterval(function () {

        $.connection.hub.start();

    }, 4000);


    var QueueHub = $.connection.HUFHUB;

    //QueueHub.client.NewMessage = function (NewComtFlag, PublishMessageID, UnPublishMessageID, Msg, P_Name) {
    //    debugger;
    //    //$('#Chats').append('<li><strong> User Name : </strong> ' + htmlEncode(Name)

    //    //    + '<strong> Message : </strong> ' + htmlEncode(Message) + '</li>');
    //    //    //+ '<strong> Room : </strong> ' + htmlEncode(Room) + '</li>'
    //    //    //+ '<strong> DisplayIP : </strong> ' + htmlEncode(DisplayIP) + '</li>'
    //    //    //+ '<strong> ConsultantName : </strong> ' + htmlEncode(ConsultantName) + '</li>'
    //    //    //+ '<strong> PatientName : </strong> ' + htmlEncode(PatientName) + '</li>'
    //    //    //+ '<strong> ButtonCode : </strong> ' + htmlEncode(button_Code) + '</li>'
    //    //    //+ '<strong> Status: </strong> ' + htmlEncode(Status) + '</li>');



    //    Append_Comments(PublishMessageID, Msg, P_Name)

    //    remove_Comments(UnPublishMessageID);
    //};

    QueueHub.client.AnimationFlag = function (Flag) {
        
        if (Flag == "start") {
            animationRun = true;

            animationLoaderFlag = true;
            isPausedAmt = false;
            Animation_Array();
          
        }
        else {
          
            animationLoaderFlag = false;
            isPausedAmt = true;
            animationRun = false;

        }

    };


</script>
